<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Dashboard</title>
    <style>
        .insideBox{
            display: flex;
            flex-direction: column;
            
            justify-content: center;
            align-items: center;
        }

        .card{
            width: 220px;
            height: 220px;
            background-color: rgb(199, 199, 199);
        }
      
    </style>
</head>
<body>
    <div class="container">
        <div class="head">
            {% if name %}
            Welcome {{name}}
            {% endif %}
            <a href="{% url 'LOGOUT' %}" class="nav-item nav-link" style="padding: 5px 3px;">
                LogOut
            </a>
        </div>
        <div class="box">
            <form method="POST">
                {% csrf_token %}
                <div class="insideBox">
                    <input name = "title" class="field" type="text" placeholder="Title">
                    <input name = "note" class="field" type="text" name="text" placeholder="Enter your note here">
                    <input type="submit" value="+">
                </div>
            </form>
        </div>

        {% for i in card %}
        <div class="card">
                <h5>{{i.title}}</h5>
                <p>{{i.description}}</p>
        </div>
        {% endfor %}
    </div>
</body>

</html>