<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo Dashboard</title>
</head>

<body>
    <div class="container">

        <div class="head">
            {% if name %}
            Welcome {{name}}
            {% endif %}
            <a href="{% url 'LOGOUT' %}" class="nav-item nav-link" style="padding: 5px 3px;">
                LogOut
            </a>
        </div>
        <h1>
            Working properly..............
        </h1>
    </div>
</body>

</html>